$primary-color: rgb(253, 95, 0);
$secondary-color: #0d1229;
$title-color: #333333;
$context-color: #666666;
$focus-event-color: #222222;
$icon-color:#9b9b9b;
$posted-bg: #5d50c6;
$bg-footer-color: #232323;

$font-primary: 'Poppins'
